<div class="container-fluid">
	<div class="jumbotron jumbotron-fluid">
            <div class="container">
                  <h1 class="display-4">Email Verification</h1>
                  <p class="lead">Add .CSV URL and Verifiy </p>

                  <div class="input-group mb-3">  
                        <input type="text" class="form-control" placeholder="API KEY" 
                        [(ngModel)]="apikey"
                        >  
                  </div>
            </div>
      </div>

     

      <div class="row text-center">
            <div class="col-md-3 col-xs-12">
                  <div class="input-group mb-3">  
                        <input type="text" class="form-control" placeholder="Email List Name" 
                        (input)="checkText($event.target.value)" 
                        (keypress)="omit_special_char($event)"
                        (keydown.space)="$event.preventDefault()" 
                        [(ngModel)]="textValue"
                        >  
                  </div>
            </div>
            <div class="col-md-3 col-xs-12">  
                  <div class="input-group mb-3">
                        <div class="input-group-prepend">
                              <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                              <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="handleFileInput($event.target.files)">
                              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                  </div>
                   
            </div> 

            <div class="col-md-1 col-sm">
                  <button class="btn btn1 btn2" (click)="checkData()" [disabled]="fetchCta">
                        Fetch Data
                  </button>
            </div>
            <div class="col-md-1 col-sm">
                  <button class="btn btn1 btn2 btn-success" (click)="jsonToExcel()" [disabled]="loadData">
                        Export Result
                  </button>
            </div>

            <!-- <div class="col-md-1">
                  <button class="btn btn1 btn2 btn-success" (click)="pause()" *ngIf="!playpause">
                       Pause
                  </button>
                  <button class="btn btn1 btn2 btn-success" (click)="pause()" *ngIf="playpause">
                        Play
                   </button>
            </div> -->

            <!-- <a href="javascript:;" (click)="test()">unsubscribe</a> -->
      </div> 


      <div class="row">
            <div class="col">
                  Total Email Verified: {{this.counter}}/{{this.overalllengh}} 
            </div>
      </div>
      
 
	<!-- <div style="width: 300px;">
		<form (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="item">Item</label> <input type="text"
					class="form-control" placeholder="Enter content..." id="item"
					required [(ngModel)]="itemValue" name="item">
			</div>
 
			<div class="btn-group">
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
		</form>
	</div> -->
 
	

</div>
